<p id="notice"><%= notice %></p>
  <div class="">
    <%= search_form_for @q,  class: "form-inline search-bar" do |f| %>
      <%= f.search_field :name_or_description_or_steps_cont, class: "form-control ms-auto" %>
      <%= f.submit class: "btn btn-secondary btn-sm ms-1", remote: true%>    
    <% end %>
  </div>

<div class="container">
  <div class="row row-cols-xl-4 row-cols-md-2">
    <% @recipes.each do |recipe| %>
    <div class="col mb-3">
      <div class="card text-end h-100">
        <div>
          <div class="img-gradient">
            <img src= <%= recipe.picture%> class="card-img-top" alt="<%= recipe.name%>">
          </div>
          <div class="card-overlay">
            <%= link_to recipe_like_path(recipe), method: :post, class:'px-1', remote: true do %>
            <% if recipe.favorited?(current_user) %>
              <%= fa_icon('heart', type: :solid, class: 'red-icon fa-2x') %>
            <% else %>
              <%= fa_icon('heart', type: :solid, class: 'white-icon fa-2x') %> 
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= recipe.name %></h5>
          <p class="card-text text"><%= truncate(recipe.description, length: 100) %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'See More', recipe , class: "btn btn-sm btn-primary", id:"more-recipe-info-#{recipe.id}", data: {'bs-toggle'=> 'modal', 'bs-target' => '#recipe-data', url: "/recipes/#{recipe.id}.json"} , remote: true %>
          <%= link_to 'Add to Menu', recipe_like_path(recipe), method: :post, class: "btn btn-sm btn-info" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<!-- Recipe Details Modal -->
<div class="modal fade" id="recipe-data" tabindex="-1" aria-labelledby="recipeDataModal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="recipe-modal-title"></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="recipeDescription"></p>
        <h6>Ingredients</h6>
        <ul id='ingredientList'></ul>
        <h6>Preparation</h6>
        <p id="preparationSteps"></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>