<p id="notice"><%= notice %></p>

<h4>
  <%= @recipe.name %>
</h4>
Speed : <%= rating_for @recipe, 'name', star: 10, disable_after_rate: true %>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>
<h6>Ingredients</h6>
<ul>
  <% @recipe.ingredients.includes(:product).each do |ingredient| %>
    <li><%= ingredient.amount %> <%= ingredient.measure %> of <%= ingredient.product.name %></li>
    <% end %>
</ul>

<h6>Preparation</h6>
<p><%= @recipe.steps %></p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
