<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
  <div class="container-fluid">
    <div class="navbar-brand">
      <%= link_to image_tag('Sarten CQ 3.png', style: 'width:50px; height:50px', class: 'd-inline-block align-text-top') , root_path  %> 
      <%= link_to 'PlanEat', root_path, style: 'text-decoration: none' %>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-ra ms-auto">
        <% if user_signed_in? %>
        <li>
          <%= link_to fa_icon('shopping-cart', type: :solid), cart_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Your Profile', your_profile_path, class:'nav-link' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <%= link_to 'Your Favorites', your_favorites_path, class:'dropdown-item' %>
            </li>
            <li>
              <%= link_to 'Your Orders', your_orders_path, class:'dropdown-item' %>
            </li>
            <% if current_user.role != 'read' %>
            <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to 'Admin Panel', admin_root_path, class:'dropdown-item' %>
              </li>  
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item"><%= link_to 'Log In', new_user_session_path, class:'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class:'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>