<h4><%= current_user.name %>'s Favorites</h4>
<div class="row row-cols-xl-4 row-cols-md-2">
  <% @favorites.each do |favorite| %>
    <div class="col mb-3">
      <div class="card text-end h-100">
        <div>
          <div class="img-gradient">
            <img src= <%= favorite.recipe.picture%> class="card-img-top" alt="<%= favorite.recipe.name%>">
          </div>
          <div class="card-overlay">
            <%= link_to recipe_like_path(favorite.recipe), method: :post, class:'px-1', data: { confirm: 'Are you sure?' }, remote: true do %>
            <% if favorite.recipe.favorited?(current_user) %>
              <%= fa_icon('heart', type: :solid, class: 'red-icon fa-2x') %>
            <% else %>
              <%= fa_icon('heart', type: :solid, class: 'white-icon fa-2x') %> 
            <% end %>
          <% end %>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to favorite.recipe.name, "/recipes/#{favorite.recipe.id}" %><%=  %></h5>
          <p class="card-text text"><%= favorite.recipe.description %></p>
        </div>
        <div class="card-footer">
          <%= link_to 'Add to Cart', recipe_add_cart_path(favorite.recipe), class: "btn btn-sm color-btn", method: :post %>
        </div>
      </div>
    </div>
  <% end %>

</div>
