<div class="card">
  <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <a href="<%= root_path%>" class="btn btn-outline-light btn-sm search-bar">Continue Shopping</a>
      <div class="clearfix"></div>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.includes(:product).each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= number_to_currency item.price%></td>
          <td><%= item.quantity %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="pull-right" style="margin: 5px">
      Total: $<b><%= @order.total %></b>
      <%= form_for :cart, url: pay_with_paypal_cart_path, method: :post do |f| %>
        <%= f.hidden_field :order_id, value: @order.id %>
        <%= f.submit 'Pay', class: 'btn btn-success pull-right' %>
      <% end %>
    </div>
  </div>
</div>
